<h1>Details</h1>

<ul>
    <hr>
    <li>
        Room Name: {{room.name}}
    </li>
    <hr>
    <li>
        Price per night: ${{room.price}}
    </li>
    <hr>
    <li>
        Description: {{room.description}}
    </li>
    <hr>
    <li>
        City: {{room.city}}
    </li>
    <hr>
    <li>
        Rooms: {{room.beds}}
    </li>
    <hr>
</ul>